* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* navigation */

.container1 {
    height: 70px;
    width: 100%;
    background-color: #B5BFA1;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    border-bottom: 2px solid white;
}

/* logo-section */

.logo {
    height: 100px;
    width: 200px;

    img {
        margin-left: 50px;
        height: 120%;
        width: 90%;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
    }
}

/* navbar section */

.navbar {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.navbar nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    padding:0 10px;
}

.sub-nav{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    transition: background-color 0.3s ease-in 0s;
    
}

.sub-contact{
    background-color: #f1faee;
}

.sub-nav:hover{
    background-color: #f1faee;
    
}

.book:hover{
    background-color: green;
    a{
        color:white;
    }
}
/* content-section */

.slideshow {
    display: inline;
}

.box1 {
    height: 500px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#img1 {
    background-image:linear-gradient(rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)), url(contact.jpg);
    background-position: center;
    background-size: cover;
}

.title2 p{
    color:white ;
    font-size: 3rem;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

/* contact-form */

.contact-us{
    display: flex;
    justify-content: center;
    align-items: start;
}

form{
    width:45%;
    height: 900px;
}

.form-title{
    font-size: 3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    color: #6E9887;
    margin:20px 20px;
    text-align: center;
}

.f-input{
    height: 80px;
    width:100%;
    margin-top:35px;
    font-size: 1.2rem;
}

label{
    font-size: 1.2rem;
    width:100%;
    font-weight: 600;
}

input{
    outline: none;
    height: 40px;
    width:100%;
    border:none;
    border-bottom: 1px solid black;
    font-size: 1.2rem;
    margin-top:15px;
    transition: border .2s ease-in-out;
}

input:hover{
    border-bottom:2px solid black;
}


select{
    width: 100%;
    padding: 5px 0;
    margin-top: 10px;
    font-size: 1.2rem;
    transition: border .2s ease-in-out;
}

select:hover{
    border:2px solid black;
}

.date{
    margin: 10px 0;
    font-size: 1.2rem;
}

textarea{
    width: 100%;
    margin:10px 0 10px;
    font-size: 1.2rem;
}

.submit{
    height: 50px;
    width:100%;
    background-color:white;
    border:2px solid #6E9887;
    font-size: 1.7rem;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    color:#6E9887;
    transition: all .3s ease-in;
}

.submit:hover{
    background-color: #6E9887;
    color:white
}

/* footer-section */

.section-footer{
    background-color: rgba(216, 213, 213, 0.329)
}

.sub-title{
    height: 50px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:40px 0 10px 0;
}

.sub-title p{
    font-size: 1.5rem;
    font-weight: bolder;
    color:#601700;
}

.title{
    /* background-color:#F283B6 ; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin:30px 0px;
}

.title p{
    color: #6E9887;
    font-size: 3.5rem;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.title img{
    margin:0 15px 0 15px;
}

.intro{
    padding:10px 50px;
    text-align: center;
}

.sub-title2{
    text-align: center;
    margin:20px 0 5px 0;
}

.sub-title2 p{
    font-size: 1.7rem;
}

.section-footer .sub-title{
    margin-top: 20px;
}

/* section-address */

.foot-address{
    height:530px;
    display: flex;
    align-items: start;
    padding: 50px 100px;
}

.con-address{
    margin:0 0 0 40px;
}

.address{
    margin-bottom: 20px;
}
.add-title{
    font-size: 1.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color:#601700;
}

.info{
    font-size: 1.2rem;
    color:black;
    padding: 20px 0;
}

.follow{
    font-size: 2rem;

}

.follow i{
    padding: 20px 0 0;
}

.follow #insta:hover{
    color:orangered;
    cursor: pointer;
}

.follow #face:hover{
    color:blue;
    cursor: pointer;
}

.follow #x:hover{
    color:black;
    cursor: pointer;
}

.copyright{
    height: 130px;
    padding:10px  0;
    text-align: center;
    background-color:rgba(244, 132, 132, 0.1);
    color: black;
}

.copyright p{
    padding:10px 0;
    font-size: 1.2rem;
}

