* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* navigation */
.section#blur.active{
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}

.container1 {
    height: 70px;
    width: 100%;
    background-color:#B5BFA1;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    border-bottom: 2px solid white;
    z-index: 2;
}

/* logo-section */

.logo {
    height: 100px;
    width: 200px;

    img {
        margin-left: 50px;
        height: 120%;
        width: 90%;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
    }
}

/* navbar section */

.navbar {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.navbar nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

nav a {
    text-decoration: none;
    color:black;
    font-size: 1.5rem;
    font-weight: bold;
    padding:0 10px;
    
}

.sub-nav{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    transition: background-color 0.3s ease-in 0s;
    
}

.sub-gallary{
    background-color: #f1faee;
}

.sub-nav:hover{
    background-color: #f1faee;
    
}

.book:hover{
    background-color: green;
    a{
        color:white;
    }
}

/* gallary-section */

.slideshow {
    display: inline;
}

.box1 {
    height: 500px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

#img1 {
    background-image:linear-gradient(rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)), url(album.jpg);
    background-position: center;
    background-size: cover;
}

.title2 p{
    color:white ;
    font-size: 3rem;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

/* photo-video - section */

.gallary-btn{
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    flex-wrap: wrap;
    margin:20px 200px 0;
}

button{
    height: 60px;
    width:400px;
    background-color:white;
    font-size: 1.7rem;
    border:3px solid #6E9887;

}

button{
    font-weight: bolder;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 40px;
    color:#6E9887;
}

.btn1{
    background-color: #6E9887;
    color: white;
    cursor: pointer;
    
}

.btn2{
    transition: background-color .2s ease-in;
}

.btn2:hover{
    background-color: #6E9887;
    color: white;
    cursor: pointer;
}

/* gallary-photo */

.btn:active{
    background-color: #6E9887;
    color:white;
    cursor: pointer;
}

.gallary-photo{
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 300px 300px 300px 300px 300px 300px;
    gap:30px 30px;
    padding: 10px 100px;
    margin:20px 20px 0;
   
}

.grid{
    background-color: aqua;
    height: 100%;
    width:100%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 2px 2px 8px 1px #6E9887;
}

.grid-photo{
    height: 100%;
    width:100%;
    transition:all 0.2s linear;
}

.grid:hover .grid-photo{
    transform:scale(1.1);
    z-index: 1;
}

.photo1{
    background-image: url(gall_pic_3.jpg);
    background-position:center;
    background-size: cover;
}
 
.photo2{
    background-image: url(g_pic_3.jpeg);
    background-position:center;
    background-size: cover;
}

.photo3{
    background-image: url(festival_img2.webp);
    background-position:center;
    background-size: cover;
}

.photo4{
    background-image: url(gallary_photo4.png);
    background-position:center;
    background-size: cover;
}

.photo5{
    background-image: url(garden_pic_2.jpeg);
    background-position:center;
    background-size: cover;
}

.photo6{
    background-image: url(g_pic_10.jpeg);
    background-position:center;
    background-size: cover;
}

.photo7{
    background-image: url(festival_img1.avif);
    background-position:center;
    background-size: cover;
}

.photo8{
    background-image: url(g_pic_5.jpeg);
    background-position:center;
    background-size: cover;
}

.photo9{
    background-image: url(gall_pic_13.jpg);
    background-position:center;
    background-size: cover;
}

.photo10{
    background-image: url(gall_pic_7.jpg);
    background-position:center;
    background-size: cover;
}

.photo11{
    background-image: url(gall_pic_25.jpg);
    background-position:center;
    background-size: cover;
}

.photo12{
    background-image: url(festival_img3.jpg);
    background-position:center;
    background-size: cover;
}

.photo13{
    background-image: url(gal_pic_26.jpeg);
    background-position:center;
    background-size: cover;
}

.photo14{
    background-image: url(g_pic_12.jpeg);
    background-position:center;
    background-size: cover;
}

.photo15{
    background-image: url(bride_1.jpg);
    background-position:center;
    background-size: cover;
}

.photo16{
    background-image: url(gall_pic_5.jpg);
    background-position:center;
    background-size: cover;
}

/* footer-section */

.sub-title{
    height: 50px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:40px 0 10px 0;
}

.sub-title p{
    font-size: 1.5rem;
    font-weight: bolder;
    color:#601700;
}

.title{
    /* background-color:#F283B6 ; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin:30px 0px;
}

.title p{
    color: #6E9887;
    font-size: 3.5rem;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.title img{
    margin:0 15px 0 15px;
}

.intro{
    padding:10px 50px;
    text-align: center;
}

.sub-title2{
    text-align: center;
    margin:20px 0 5px 0;
}

.sub-title2 p{
    font-size: 1.7rem;
}

.section-footer .sub-title{
    margin-top: 20px;
}

/* section-address */

.foot-address{
    height:530px;
    display: flex;
    align-items: start;
    padding: 50px 100px;
}

.con-address{
    margin:0 0 0 40px;
}

.address{
    margin-bottom: 20px;
}
.add-title{
    font-size: 1.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color:#601700;
}

.info{
    font-size: 1.2rem;
    color:black;
    padding: 20px 0;
}

.follow{
    font-size: 2rem;

}

.follow i{
    padding: 20px 0 0;
}

.follow #insta:hover{
    color:orangered;
    cursor: pointer;
}

.follow #face:hover{
    color:blue;
    cursor: pointer;
}

.follow #x:hover{
    color:black;
    cursor: pointer;
}

.copyright{
    height: 130px;
    padding:10px  0;
    text-align: center;
    background-color:rgba(244, 132, 132, 0.1);
    color: black;
}

.copyright p{
    padding:10px 0;
    font-size: 1.2rem;
}


/* contact-form */

.cancel{
    a{
        position: fixed;
        right: 25px;
        top:20px;
        font-size: 1.5rem;
    }
}
.contact-us{
    display: flex;
    justify-content: center;
    align-items: start;
}

form{
    /* width:50%; */
    height: 710px;
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:600px;
    padding:35px;
    box-shadow: 0 5px 30px rbga(0,0,0,0.30);
    background-color: white;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    border-radius: 5px;
    border:1px solid rgba(0, 0, 0, 0.2);
}

form.active{
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.form-title{
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    color: #6E9887;
    margin:5px 5px;
    text-align: center;
}

.f-input{
    height: 80px;
    width:100%;
    margin-top:5px;
    font-size: 1rem;
}

label{
    font-size: 1rem;
    width:100%;
    font-weight: 600;
}

input{
    outline: none;
    height: 40px;
    width:100%;
    border:none;
    border-bottom: 1px solid black;
    font-size: 1rem;
    margin-top:5px;
    transition: border .2s ease-in-out;
}

input:hover{
    border-bottom:2px solid black;
}


select{
    width: 100%;
    padding: 5px 0;
    margin-top: 5px;
    font-size: 1rem;
    transition: border .2s ease-in-out;
}

select:hover{
    border:2px solid black;
}

.date{
    margin: 5px 0;
    font-size: 1rem;
}

textarea{
    width: 100%;
    margin:5px 0 5px;
    font-size: 1rem;
    outline: none;
    resize: none;
    background-color: #f8f8ff;
}

.submit{
    height: 50px;
    width:100%;
    background-color:white;
    border:2px solid #6E9887;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    color:#6E9887;
    margin-top:30px;
    transition: all .3s ease-in;
}

.submit:hover{
    background-color: #6E9887;
    color:white
}
